<% include partials/header %>

<div class="container">
  <div class="container">
    <div id="newcamp">
    <h1>Campground Page</h1>      
    <a href="/camps/new">Add new camp</a>
    </div>

    <div class="row text-center" id="campGallery">
      <% camps.forEach(function(camps){ %>
        <div class="col-md-3 col-sm-6">
          <div>
            <img class="img-thumbnail" src="<%= camps.image %>">
            <div class="caption"><h4><%= camps.name %></h4></div>
          </div>
          <p>
            <a href="/camps/<%= camps._id %>" class="btn btn-primary">More Info</a>
          </p>
        </div>
      <% }); %>
    </div>


  </div>
</div>

<% include partials/footer %>
