<% include partials/header %>

<div class="container">
  <div class="container">
    <div>
      <img class="img-thumbnail" src="<%= camp.image %>">
      <h3><%= camp.name %><h3>
    </div>

    <div>
      <a href="/camps/<%= camp._id %>/edit" class="btn btn-primary">Edit</a>
    </div>
    <div id="submitButton">
      <form action="/camps/<%= camp._id %>/delete" method="POST">
        <button class="btn btn-primary">Delete</button>
      </form>
    </div>
  <% include partials/footer %>

</div>
