<% include partials/header %>

<div id="banner" >
  <img src="/images/yelpcamp.jpg" class="img-responsive"/>
</div>

<div class="container body-container">
  <div class="container"><h1>Yelp Camp</h1></div>
</div>

<% include partials/footer %>
